@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Base Styles */



body{
    font-family: 'Open Sans',sans-serif;
    background: #fff;
    color:#333;
    line-height: 1.6rem;

}

ul{
    list-style:none;
}
a{
    /* black colored anchor */
    color:#333;
    text-decoration: none;
}

h1,h2 {
    /* little less bold */
    font-weight: 300;
    line-height: 1.2rem;
}

p {
    margin:10px 0;
}

img{
    /* Image width 100% of its container */
    width: 100%;  
}

/* NavBar */
.navbar {
    display: flex;
    /* vertical/along cross axis since row / alignment of flex items */
    align-items: center;
    /* horizontal/along main axis alignment */ 
    justify-content: space-between;
    background-color: #333;
    color:#fff;
    opacity: 0.8;
    width:100%;
    /* height 70px is common for navbar */
    height: 70px;
    position:fixed;
    top:0px;
    padding:0 30px;
}

.navbar a {
    color:white;
    padding:10px 20px;
    margin:0 5px;
}
.navbar a:hover{
    border-bottom: 2px solid #28a745 ;
}

.navbar ul {
    display: flex;
}
.navbar .logo {
    font-weight: 400;
}

/* Header */
.hero { 
    /* center/cover resize the background image to cover the entire container */
    background: url('../images/home/showcase.jpg') no-repeat center center/cover;
    height:100vh;
    position:relative;
    color:white;

}
.hero .content {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 height: 100%;
 padding: 0 20px;
}
.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    margin:20px 0 30px;
    max-width: 600px;
}

/* Overlay */
.hero::before{
    content:'';
    width:100%;
    height:100%;
    background: rgb(0,0,0,0.6);
    position: relative;
    top:0;
    left:0;
}

.hero * {
    z-index: 10;
}

/* Icons */
.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}
.icons i {
    background-color: #28a745;
    color:white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* flex items */
.flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.flex-items > div{
    padding:9px;
}

/* flex-columns */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
}

.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height:100%;
}

.flex-columns img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.cases img:hover{
    opacity: 0.7;
}

.team img {
    border-radius: 50%;
}

.callback-form {
    width: 100%;
    padding: 20px 0;
}
.callback-form label{
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding:4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}
.callback-form input:focus {
  outline-color: #28a745;
}
.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;

}
.footer a {
    color:#fff;
}

/* hover */
.footer a:hover{
    color:#28a745;
}

.footer .social > * {
    margin-right: 30px;
}

@media(max-width: 768px)
{
.navbar{
    flex-direction: column;
   
}
.navbar a {
    padding: 10px 3px;
    margin:0 3px;
}



.hero .content h1 {
    font-size: 41px;
}

.flex-items {
    flex-direction: column;
}


.flex-columns .column{
    flex:100%;

}
}

.hero.blog{
    background:url('../images/home/blog.jpg') no-repeat center center/cover;
    height: 30vh;
}

.navbar.top{
    background:transparent;
}